@model MyBidsModel
@{
    ViewData["Title"] = "My Bids";
}
<ul class="nav nav-tabs pull-right" id="tabs" data-tabs="tabs">
    <li><a href="#historic" data-toggle="tab">Historic <span class="badge alert-info">@Model.HistoricAuctions.Count()</span></a></li>
    <li class="active"><a data-toggle="tab" href="#current">Current <span class="badge alert-info">@Model.Auctions.Count()</span></a></li>
</ul>
<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="current">
        <table id="myTable" class="table table-striped">
            <thead>
            <tr>
                <th class="sortable">Domain</th>
                <th class="sortable">Ref</th>
                <th class="sortable">Minimum Bid</th>
                <th class="sortable">End Date</th>
                <th class="sortable">Count Down</th>
                <th class="sortable">My Bid</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.Auctions)
            {
                <tr>
                    <td><a target="_blank" href="https://auctions.godaddy.com/trpItemListing.aspx?miid=@item.AuctionRef"><div style="height:100%;width:100%"><strong>@item.DomainName <span class="glyphicon glyphicon-chevron-right pull-right"></span></strong></div></a></td>
                    <td><strong>@item.AuctionRef</strong></td>
                    <td><span class="badge"><strong>@item.MinBid.ToString("F2")</strong></span></td>
                    <td><strong>@item.EndDate</strong></td>
                    <td><span data-countdown="@(item.EndDate.ToString("yyyy-MM-dd HH:mm:ss"))"></span></td>
                    <td style="cursor: pointer" title="Edit Value"><span class="badge"><strong id="@(item.AuctionId + "v")">@item.MyBid?.ToString("F2")</strong></span></td>
                    <td class="@item.AuctionId editMode" style="display: none">
                        <input id="@item.AuctionId" type="number" onkeypress="return isNumberKey(event)" value="@item.MyBid"/>
                    </td>
                    <td>
                        <div class="@item.AuctionId editMode" style="display: none">
                            <button class="btn btn-sm btn-success" data-toggle="modal" href="#bidmodal" data-placement="right" style="cursor: pointer" onclick="UpdateAuctionValue('@item.AuctionId')">Submit</button>
                            <button class="btn btn-sm btn-danger" data-toggle="modal" href="#bidmodal" data-placement="right" style="cursor: pointer" onclick="ShowViewMode('@item.AuctionId')">Cancel</button>
                        </div>

                        @using (Html.BeginForm("Delete", "Bids", FormMethod.Post))
                        {
                            @Html.Hidden("auctionId", @item.AuctionId)
                            <button class="@item.AuctionId btn btn-sm btn-danger viewMode" type="submit" name="Delete" value="Delete">Delete</button>

                            <button type="button" class="@item.AuctionId btn btn-sm btn-warning viewMode" data-toggle="modal" href="#bidmodal" data-placement="right" style="cursor: pointer" onclick="ShowEditMode('@item.AuctionId')">Update</button>
                            <button type="button" class="@item.AuctionId btn btn-sm btn-primary viewMode" data-toggle="modal" href="#bidmodal" data-placement="right" title="@item.DomainName History" style="cursor: pointer" onclick="GetAuctionHistory('@item.AuctionId')">History</button>
                        }
                    </td>
                </tr>
            }

            </tbody>
            <tfoot style="border: none">
            <tr title="Show all employees">
                <td colspan="6" class="active"><strong>Total Results:</strong></td>
                <td class="text-center"><span class="badge alert-info">@Model.Auctions.Count()</span></td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="tab-pane" id="historic">
        <table id="historcTable" class="table table-striped header-fixed">
            <thead>
            <tr>
                <th class="sortable">Domain</th>
                <th class="sortable">Ref</th>
                <th class="sortable">Minimum Bid</th>
                <th class="sortable">End Date</th>
                <th class="sortable">Count Down</th>
                <th class="sortable">My Bid</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.HistoricAuctions)
            {
                <tr>
                    <td><a target="_blank" href="https://auctions.godaddy.com/trpItemListing.aspx?miid=@item.AuctionRef"><div style="height:100%;width:100%"><strong>@item.DomainName <span class="glyphicon glyphicon-chevron-right pull-right"></span></strong></div></a></td>
                    <td><strong>@item.AuctionRef</strong></td>
                    <td><span class="badge"><strong>@item.MinBid.ToString("F2")</strong></span></td>
                    <td><strong>@item.EndDate</strong></td>
                    <td><strong>Ended</strong></td>
                    <td><span class="badge"><strong>@item.MyBid?.ToString("F2")</strong></span></td>
                    <td class="btn btn-sm btn-primary" data-placement="right" style="cursor: pointer" onclick="GetAuctionHistory('@item.AuctionId')">History</td>
                </tr>
            }

            </tbody>
            <tfoot style="border: none">
            <tr>
                <td colspan="6" class="active"><strong>Total Results:</strong></td>
                <td class="text-center" ><span class="badge alert-info">@Model.HistoricAuctions.Count()</span></td>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal fade" id="historyModal" role="dialog">
        <div class="modal-dialog modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Auction History<span class="glyphicon glyphicon-info-sign pull-right"></span></h4>
                    <h5 class="text-muted" id="hdnDomainName"></h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="sr-only">Description</label>
                        <div id="mod1">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-default pull-right" id="closebug" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_CountDownPartial")
<script>
    function GetAuctionHistory(auctionGuid) {
        $('#mod1').html("Loading...");
        $('#historyModal').modal('toggle');
        $.ajax({
            dataType: "html",
            type: "POST",
            url: '@Url.Action("GetAuctionHistory", "Bids")',
            data: { auctionId: auctionGuid },
            success: function (data) {
                $('#mod1').html(data);
                $('#mod1').fadeIn(400).delay(2000);
            }
        });
    }

    function UpdateAuctionValue(auctionGuid) {
        var newValue = $('#' + auctionGuid).val();
        $.ajax({
            dataType: "html",
            type: "POST",
            url: '@Url.Action("UpdateAuctionValue", "Bids")',
            data: { auctionId: auctionGuid, newValue: newValue },
            success: function (a) {
                $('#feedbackmessage').text(a);
                $('#feedbackmessage').fadeIn(300).delay(2000).fadeOut('slow');
                $('#' + auctionGuid + 'v').html(newValue);
                ShowViewMode(auctionGuid);
            }
        });
    }
    $(document).ready(function () {
        Sortable('#historic');
    });

    function Sortable(tableId) {
        var table = $(tableId);

        $('.sortable')
            .append('<span class="pull-right glyphicon glyphicon-resize-vertical" title="sort this column"/>')
            .each(function () {

                var th = $(this),
                    thIndex = th.index(),
                    inverse = false;

                th.click(function () {

                    table.find('tbody td').filter(function () {

                        return $(this).index() === thIndex;

                    }).sortElements(function (a, b) {

                        if ($.text([a]) == $.text([b]))
                            return 0;

                        return $.text([a]) > $.text([b]) ?
                            inverse ? -1 : 1
                            : inverse ? 1 : -1;

                    }, function () {

                        // parentNode is the element we want to move
                        return this.parentNode;

                    });

                    inverse = !inverse;

                });

            });
    }

    

    function ShowEditMode(auctionId) {
        $('[class*="viewMode"]').filter('[class*="' + auctionId + '"]').hide();
        $('[class*="editMode"]').filter('[class*="' + auctionId + '"]').show();
        $('#' + auctionId).focus();
    }

    function ShowViewMode(auctionId) {
        $('[class*="viewMode"]').filter('[class*="' + auctionId + '"]').show();
        $('[class*="editMode"]').filter('[class*="' + auctionId + '"]').hide();
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }  

</script>