@model ErrorReport

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DAS</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/theme.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/css/theme.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Bids" asp-action="Index" class="navbar-brand">DAS Members</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a asp-controller="Search" asp-action="Index">Search</a></li>
                    <li><a asp-controller="MultiBid" asp-action="Index">Multi-Bid</a></li>
                    <li><a asp-controller="Bids" asp-action="Index">My Bids</a></li>
                    <li><a asp-controller="Settings" asp-action="Index">Settings</a></li>
                    <li><a asp-controller="Base" asp-action="FAQ">FAQ</a></li>
                    <li><a asp-controller="Base" asp-action="Admin">Admin</a></li>
                </ul>
                @*@await Html.PartialAsync("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div style="display:none" id="feedbackmessage" Class="alert alert-success pull-right"></div>
        <div>
            <h3>@ViewData["Title"]</h3>
        </div>
        <hr />
        @RenderBody()
    </div>
    <footer>
        <nav class="navbar navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <a data-toggle="modal" data-id="moo" href="#bugreport" class="navbar-brand">Report a Bug</a>
                </div>
                <div class="navbar-collapse">
                    <ul class="nav navbar-brand pull-right">
                        <li>&copy; DAS 2016</li>
                    </ul>
                    @*@await Html.PartialAsync("_LoginPartial")*@
                </div>
            </div>
        </nav>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    @*Bug report model*@
    <form asp-controller="BugReport" asp-action="SubmitBug" method="post" class="form-horizontal" role="form" id="bugform">
        <div class="modal fade" id="bugreport" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Report a bug <span class="glyphicon glyphicon-send pull-right"></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="sr-only">Description</label>
                            <textarea asp-for="Message" class="form-control" rows="10" Columns="120" placeholder="Report your issue" maxlength="500" required autofocus id="bugtxtv"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" id="closebug" data-dismiss="modal">Close</a>
                        <div class="btn btn-primary" onclick="Submit($('#bugtxtv').val())">Submit</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        $('#bugform').valid();
        function Submit(message) {
            if ($('#bugform').valid()) {
                $.ajax({
                    dataType: "html",
                    type: "POST",
                    url: '@Url.Action("SubmitBug", "BugReport")',
                    data: { message: message },
                    success: function (a) {
                        // close the modal and submit the but report
                        $('#bugreport').modal('toggle');
                        $('#feedbackmessage').text(a);
                        $('#feedbackmessage').fadeIn(300).delay(1000).fadeOut('slow');
                    }
                });
            }
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
