<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DAS</title>
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/theme.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css?1" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link href="~/css/theme.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-stupid-table/stupidtable.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/jquery-stupid-table/stupidtable.min.js"></script>
    </environment>

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Bids" asp-action="Index" class="navbar-brand">DAS Members</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li><a asp-controller="Search" asp-action="Index">Search</a></li>
                    <li><a asp-controller="MultiBid" asp-action="Index">Multi-Bid</a></li>
                    <li><a asp-controller="Bids" asp-action="Index">My Bids</a></li>
                    <li><a asp-controller="Settings" asp-action="Index">Settings</a></li>
                    <li><a asp-controller="Base" asp-action="FAQ">FAQ</a></li>
                </ul>
                @*@await Html.PartialAsync("_LoginPartial")*@
            </div>
        </div>
    </div>
<div class="container body-content">
    <div>
        <div class="row">
            <div class="col-md-4">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-md-4">
                <h2>
                    <span style="display: none" id="feedbackmessage" class="label label-success center-block">Success</span>
                </h2>
            </div>
            <div class="col-md-4">
                <div class="pull-right"><a asp-controller="Base" asp-action="Logout" class="navbar-brand">@ViewData["Signout"]</a></div>
            </div>
        </div>
        <hr/>
        @RenderBody()
    </div>
    <footer>
        <nav class="navbar navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <a data-toggle="modal" data-id="moo" href="#bugreport" class="navbar-brand">Report a Bug</a>
                </div>
                <div class="navbar-collapse">
                    <ul class="nav navbar-brand pull-right vertical-center">
                        <a href="https://www.facebook.com/groups/1514988468779362/" target="_blank">Join the Facebook Group</a>
                    </ul>
                    @*@await Html.PartialAsync("_LoginPartial")*@
                </div>
            </div>
        </nav>
    </footer>
    @*Bug report model*@
    @await Component.InvokeAsync("ErrorReport")
    @RenderSection("scripts", required: false)
</div>

</body>
</html>
